/**
 * @Time    2019-02-15 09:56:00
 * @Author  Huaer
 * @Explain 全局样式 修改的时候 先考虑是否会污染全局
 */
@charset "UTF-8";
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
*:not(input,textarea){-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
fieldset,img{border:0}
body{
	background:#270858 ;
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 621px;
	color:#fff;
	font:14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
	/* max-width:720px; */
	margin:0 auto;
	-webkit-tap-highlight-color:transparent;
	-webkit-appearance:none;
	}
address,caption,cite,code,dfn,th,var,optgroup{font-style:normal;font-weight:400}
strong{font-weight:400}
em,i{font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;font-family:sans-serif}
input,button,textarea,select{*font-size:100%;border:0}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
blockquote,q{quotes:none}
a{color:#fff !important;}
::-webkit-input-placeholder{color:#666}
:-moz-placeholder{color:#666}
::-moz-placeholder{color:#666}
:-ms-input-placeholder{color:#666}
::input-placeholder{color:#666}
:link,:visited,ins{text-decoration:none}
:focus{outline:0;-moz-outline:0}
.fl{float:left}
.fr{float:right}
.hide,[v-cloak]{display:none}
.dialog-bottom{font-size:14px;text-align:center;line-height:44px;color:#ccc}
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*zoom:1;}
.text-center{text-align:center;}
.icon{display:inline-block;vertical-align:middle;height:20px;width:20px;background-position:center center;background-size:100%;background-repeat:no-repeat;}
.icon-right{display:inline-block;border-top:1px solid;border-right:1px solid;width:10px;height:10px;border-color:#ccc;transform:rotate(45deg);}

/* 布局 */
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{float:left;position:relative;}
.col-12{width:100%}
.col-11{width:91.66666667%}
.col-10{width:83.33333333%}
.col-9{width:75%}
.col-8{width:66.66666667%}
.col-7{width:58.33333333%}
.col-6{width:50%}
.col-5{width:41.66666667%}
.col-4{width:33.33333333%}
.col-3{width:25%}
.col-2{width:16.66666667%}
.col-1{width:8.33333333%}

/* main */
.fish-main{margin-top:45px;}
.fish-head{
	background: #451298;
	height:44px;line-height:44px;position:fixed;text-align:center;width:100%;top:0;z-index:123}
.fish-head .head-tit{font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:45px;}
.fish-head>a{position:absolute;top:0;display:block;padding:0 12px;}
.fish-head .head-back{left:0;background:url('../images/jiant.png') no-repeat center center;background-size:50%;font-size:0;width:44px;}
.fish-head .head-back.white{background:url('../images/icon-back-white.png') no-repeat center center;background-size:50%;}
.fish-head .head-menu{right:0;color:#eee;}

/* footer */
.fish-foot{
	height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 31;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    background-image: linear-gradient(180deg, #7f10c7 20%,#49218a 80%);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);

}
.fish-foot a{display:block;text-align:center;padding:4px 0;color:#ccc;}
.fish-foot a i{display:block;width:25px;margin:0px auto;}
.fish-foot a.act{color:#f727ef !important;}

/* 弹窗modal */
.modal-overlay{position:fixed;z-index:999;top:-100px;left:0;bottom:0;right:0;height:125%;width:100%;background:#000;display:none;will-change:opacity;}
.modal{display:none;position:fixed;left:0;right:0;background-color:#fff;padding:0;max-height:70%;width:80%;margin:auto;overflow-y:auto;border-radius:2px;will-change:top,opacity;box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);}
.modal.bottom-sheet{top:auto;bottom:-100%;margin:0;width:100%;max-height:45%;border-radius:0;will-change:bottom,opacity;}

/* 消息框 */
.core-toast{position:fixed;z-index:1003;text-align:center;width:80%;margin:auto;left:0;right:0;display:none;}
.toast-text{max-width:100%;word-wrap:break-word;background-color:rgba(0,0,0,.8);color:#fff;padding:10px 20px;border-radius:5px;box-shadow:0 0 8px rgba(0,0,0,.1);display:inline-block;text-align:left;}
.core-dialog{display:none;color:#000;position:fixed;z-index:1002;width:80%;max-width:300px;left:0;right:0;background-color:#FFFFFF;text-align:center;border-radius:3px;overflow:hidden;margin:auto;}
.dialog-hd{padding:1.3em 1.6em 0.5em;}
.dialog-title{font-weight:400;font-size:18px;display:block;}
.dialog-bd{padding:0 1.6em 0.8em;min-height:40px;font-size:15px;line-height:1.3;word-wrap:break-word;word-break:break-all;color:#808080;}
.dialog-ft{position:relative;line-height:48px;font-size:18px;display:-webkit-box;display:-webkit-flex;display:flex;}
.dialog-btn{display:block;-webkit-box-flex:1;-webkit-flex:1;flex:1;color:#00D6E2;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);position:relative;}
.dialog-btn-default{color:#353535;}
.dialog-btn-primary{color:#00D6E2;}
.dialog-ft:after{content:" ";position:absolute;left:0;top:0;right:0;height:1px;border-top:1px solid #D5D5D6;color:#D5D5D6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.dialog-btn-default:after{content:'\0020';position:absolute;right:0;top:0;width:1px;bottom:0;border-left:1px solid #D5D5D6;color:#D5D5D6;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:scaleX(0.5);transform:scaleX(0.5);}
.loading{position:fixed;z-index:5000;width:7.6em;min-height:7.6em;top:180px;left:50%;margin-left:-3.8em;text-align:center;border-radius:5px;color:#FFFFFF;/* background:url('../images/icon-loading.gif') no-repeat center center; */background-size:50%}

/* tabs */
.tabs{display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;overflow-x:hidden;overflow-y:hidden;height:44px;width:100%;background-color:#2e0571;margin:0 auto;white-space:nowrap;-webkit-box-shadow:0px 1px 8px 0px rgba(139,139,139,0.1);-moz-box-shadow:0px 1px 8px 0px rgba(139,139,139,0.1);box-shadow:0px 1px 8px 0px rgba(139,139,139,0.1);}
.tabs .tab{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;display:inline-block;text-align:center;line-height:44px;height:44px;padding:0;margin:0;text-transform:uppercase;}
.tabs .tab a{color:#ccc;display:inline-block;height:100%;font-size:14px;text-overflow:ellipsis;overflow:hidden;transition:color .28s ease;}
.tabs .tab a.active{color:#b202ff;}
.tabs .indicator{position:absolute;bottom:0;height:2px;background-color:#b202ff;will-change:left,right;}

/* login */
.logo-box{
	/* height: 40%; */
	text-align: center;
	/* padding-top: 15%; */
	/* position: fixed; */
	/* top: 0px; */
	/* left: 50%; */
	/* margin-left: -60px; */
	margin-top: 55px;
}
.logo-box .logo-img{height:120px;line-height:120px;width:120px;border-radius:20px;/*background-color:#fff;*/overflow:hidden;margin:auto;font-weight:bold;}
.logo-box .logo-img img{display:block;width:100%;margin:auto;}
.logo-box .logo-text{font-size:18px;}
.don-form{
	position: relative;
	width: 320px;
	margin: 10px auto 0 auto;
}
.don-form .input-item{position:relative;margin: 0 10px 15px 10px;}
.don-form .input-item .icon{position:absolute;top: 10px;left: 20px;}
.don-form .input-item input{height: 44px;line-height: 44px;display:block;width:100%;padding: 0px 0px 0px 52px;border-radius: 7px;border: none;background: none;background-color: #f8f8f8;overflow: hidden;}
.don-form .input-foot{
	margin-top:15px;
	height:50px;
	line-height:50px;
	border-radius:50px;
	overflow:hidden;
}
.don-form .foot-btn{
	margin:0 auto;
	display:block;
	width:90%;
	height:50px;
	line-height:50px;
	border-radius:50px;
	overflow:hidden;
	text-align:center;
	background-image: linear-gradient(160deg, #49218a 20%,#910adb 80%);
	background-size: 100% 100%;
	color:#fff;	
	font-size:16px;
	-webkit-box-shadow:0 0 15px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 0 15px 0 rgba(0,0,0,.1);
	box-shadow:0 0 15px 0 rgba(0,0,0,.1);
	}
.don-form .form-link{padding:12px 0;color:#666;}
.don-form .form-link a{color:#666;}
.don-form .form-link .act a{color:#CF2B11;}
.login-user{background-image:url('../images/login-user.png');}
.login-pw{background-image:url('../images/login-pw.png');}
.login-email{background-image:url('../images/login-email.png');}
.login-phone{background-image:url('../images/login-phone.png');}
.login-res{background-image:url('../images/login-res.png');}
.login-tui{background-image:url('../images/login-tui.png');}
.input_box{
	width: 319px;
	background: #fff;
	border-radius: 12px;
	padding: 30px 0 30px 0;
}
/* 星座空间 */
