<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
            <li class="text-muted">{:isset($info)?'修改':新增}</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder" enctype="multipart/form-data">
                                        <div class="form-type-list">

                                            <div class="form-group item_title ">
                                                <label class="left control-label">等级名称：</label>
                                                <div style="width:200px" class="input-group">
                                                   <input type="text" class="form-control" name="title" value="{$user_level['title']}" placeholder="等级名称" >
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">是否实名：</label>
                                                <div class="right">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="is_real_name" id="" value="1" {$user_level['is_real_name']==1?'checked':''}> 是
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="is_real_name" id="" {$user_level['is_real_name']==0?'checked':''} value="0"> 否
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">升级所需直推人数：</label>
                                                <div style="width:200px" class="input-group">
                                                    <input type="number" class="form-control" name="push_num" value="{$user_level['push_num']}" placeholder="升级所需直推人数" >
                                                </div>
                                            </div>
                                           <div class="form-group item_title ">
                                                <label class="left control-label">团队收益(%)</label>
                                                <div style="width:200px" class="input-group">
                                                    <input type="number" class="form-control" name="scroll_num" value="{$user_level['scroll_num']}" placeholder="团队收益" >
                                                </div>
                                            </div>
                                            </div> 
                                            <div class="form-group item_title ">
                                                <label class="left control-label">升级所需收益：</label>
                                                <div style="width:200px" class="input-group">
                                                    <input type="number" class="form-control" name="active_num" value="{$user_level['active_num']}" placeholder="升级所需活收益：" >
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">升级所需积分：</label>
                                                <div style="width:200px" class="input-group">
                                                    <input type="number" name="active_jf" class="form-control" placeholder="升级所需积分：" value="{$user_level['active_jf']}">
                                                </div>
                                            </div>
                                           <!--  <div class="form-group item_title ">
                                                <label class="left control-label">邮箱：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="email" value="{$info.email}" placeholder="邮箱">
                                                </div>
                                            </div> -->
                                            <!-- <div class="form-group item_title ">
                                                <label class="left control-label">赠送星座：</label>
                                                <div style="width:200px" class="input-group">
                                                    <select class="form-control" name="scroll_id">
                                                        <option value="0">无赠送星座</option>
                                                        <volist name="scroll" id="vo">
                                                            <option value="{$vo['id']}" {$user_level['scroll_id']==$vo['id']?'selected':''}>{$vo['title']}</option>
                                                        </volist>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">赠送星座数量：</label>
                                                <div style="width:200px" class="input-group">
                                                    <input class="form-control" name="scroll_num" type="number" value="{$user_level['scroll_num']}">
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">获取手续费：</label>
                                                <div style="width:200px" class="input-group">
                                                    <input type="number" name="service_charge" class="form-control" placeholder="获取手续费" value="{$user_level['service_charge']}">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">图片：</label>
                                                <div class="right">
                                                    <input type="file" name="pic">
                                                </div>
                                                <img src="{$user_level['img']}" width="100px" height="100px" style="margin-top:10px;">
                                            </div> -->
                                            <input type="hidden" name="id" value="{$user_level['id']}">
                                            <input type="hidden" name="last_img" value="{$user_level['img']}" type="hidden">
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <button class="btn btn-primary" type="submit" target-form="form-builder">确定</button>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>