<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
</block>

<block name="main">
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            <foreach name="_menu_tab['name']" item="tab_v" >
            <li class="text-muted">{$tab_v}</li>
            </foreach>
            <li class="text-muted">{:isset($info)?'修改':新增}</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="__SELF__" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">

                                            <div class="form-group item_title ">
                                                <label class="left control-label">星座名称：</label>
                                                <div class="right">
                                                   <input type="text" class="form-control input" name="title" value="{$scroll['title']}" placeholder="星座名称" >
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">购买增加的活跃度：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="active" value="{$scroll['active']}" placeholder="购买增加的活跃度" >
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">购买的积分数量：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="sell_num" value="{$scroll['sell_num']}" placeholder="购买的积分数量" >
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">单生产量：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="single_num" value="{$scroll['single_num']}" placeholder="单生产量">
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="form-group item_title ">
                                                <label class="left control-label">预计奖励积分数量：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input" name="reward_num" value="{$scroll['reward_num']}" placeholder="预计奖励积分数量" >
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">步数：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="step_num" value="{$scroll['step_num']}" placeholder="步数" >
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">最多使用数量：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="max_size" value="{$scroll['max_size']}" placeholder="最多使用数量" >
                                                </div>
                                            </div>
                                            <input type="hidden" name="id" value="{$scroll['id']}">
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
</block>

<block name="script">
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>